<!DOCTYPE html>
<html>
  <head>
    <title>Settings Page</title>
  </head>
  <body>
    <h1 style="text-align:center;">Burger settings</h1>
    <p style="font-size:20px;">Create your own restaurant and burgers!</p>
    <div style="display:flex; justify-content: center; margin-top:20px;">
      <a href="add_restaurant/" style="padding: 10px 20px; background-color: #ff8c00; color: white; border-radius: 5px; margin-right: 20px;">Create Restaurant</a>
      <a href="add_burger/" style="padding: 10px 20px; background-color: #ff8c00; color: white; border-radius: 5px;">Create Burger</a>
    </div>
    <div style="text-align:center; margin-top:30px;">
      <a href="../" style="font-size:16px;">Back to Home</a>
    </div>
  </body>
</html>